<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Import Materialize CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <!-- Link to custom CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
    <title>Cocktail-Corner</title>
</head>

<body>
    <header>
        <!-- Main Navbar -->
        <nav>
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">Logo</a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">Menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    {% if session.current_user %}
                    <li><a href="{{ url_for('account', username=session['current_user']) }}">Account</a></li>
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('log_in') }}">Log In</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

        <!-- Mobile Navbar -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('register') }}">Register</a></li>
            <li><a href="{{ url_for('log_in') }}">Log In</a></li>
        </ul>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>

    <footer class="page-footer">
        <div class="container">
            <div class="row">
                <div class="col s12">
                    <h5 class="white-text center-align">Footer Content</h5>
                </div>
            </div>
        </div>
    </footer>

    <!-- Import Materialize Javascript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- Link to custom Javascript-->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>